body {
    padding: 0;
    margin: 0;
    background: url('../images/background.svg') no-repeat center 0;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-attachment: fixed;

    font-size: 30px;

    font: normal normal 300 1rem Montserrat !important;
    letter-spacing: 0px !important;
    text-transform: uppercase;
}



div.root {
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
}

.title {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.text {
    text-transform: none;
}

.container {
    width: 80%;
}


@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

// body,html {
//     overflow-x: hidden;
//     width: 100%;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// body {
//     position: relative;
// }

@media only screen and (max-width: 768px) {

    .container {
        width: 95%;
    }
}
