.faq-page {
    .faq {
        display: flex;

        hr {
            width: 20%;
            height: 0;
            border-bottom: 1.5px #f556b7 solid !important;
            border-radius: 10px;
            border: 0;
            margin: 8px 0px !important;
        }

        .info {
            text-align: right;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: right;
            gap: 0.6rem;
            // position: absolute;

            .title {
                color: #000000;
            }

            .sub-title {
                color: #ffffff;
            }

            .text {
                // font-weight: 200;
                font-size: 1.3em;
                color: #707070;
            }

            .questions {
                padding-top: 2rem;
                display: flex;
                align-items: center;
                // justify-content: start;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                .box {
                    // transition: transform 1s ease;
                    // transition: height 0.2s !important;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;

                    box-sizing: border-box;
                    max-width: 17rem;

                    height: 3em;
                    text-align: left;
                    width: 93%;
                    background: #ffffff91 0% 0% no-repeat padding-box;
                    border: 2px solid #ffffff;
                    border-radius: 12px;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    .top {
                        height: 2.5rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 1rem;
                        }

                        .title {
                            text-align: left;
                            font-weight: 200;
                            font-size: unset;
                            text-transform: none;

                            color: #000000;
                        }
                    }

                    .text {
                        ol,
                        ul {
                            list-style-type: disc;
                        }

                        width: 98%;
                        // height: 90%;
                        font-size: 1em;
                    }
                }

                .box.active {
                    // transform: scaleY(30.2);
                    // height: 20rem;
                    padding: 1rem;

                    .text {
                        height: auto;
                    }
                }
            }
        }

        img.question {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .faq-page {
        .faq {
            align-items: center;
            flex-direction: column;

            img.question {
                width: 100%;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 90%;

                .box {
                    height: 3rem;
                    // align-items: center;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;

                    .text {
                        text-align: left;
                        font-size: 0.85em;
                    }
                }

                // .box:hover {
                //     height: 10rem !important;
                // }
            }
        }
    }
}
