.success-popup-content {
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    .title {
        color: green;
    }

    p {
        text-align: center;
    }

    img.checked {
    }

    img.close {
        width: 1rem;
        height: 1rem;
    }

    .top {
        display: flex;
    }
}
