.success-popup-content {
    border-radius: 15px;

    .title {
        color: green;
    }

    p {
        text-align: center;
    }

    img.success  {
    }

    img.close {
    }

    .top {
    }
}
