.success-popup-content {
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    .title {
        color: green;
    }

    p {
        text-align: center;
    }

    img.success {
    }

    img.close {
    }

    .top {
        display: flex;
    }
}
