/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 25px;
    top: 3.9%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
// .bm-cross-button {
//     position: absolute;
//     top: -10rem;
//     height: 24px;
//     width: 24px;
//     border: solid 1px #f556b8;
//     border-radius: 5px;
//     top: 15px !important;
//     right: 15px !important;

// }

// /* Color/shape of close button cross */
// .bm-cross {
//     background: #f556b8;
// }

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    height: 53% !important;
    border-radius: 0 20px 20px 0;
    border: #ffffff solid;
    border-width: 0px 1px 1px 0px;

    .menu {
        margin-top: -5rem;
    }

    background: url('../../images/mobile-background.png') no-repeat center 0;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    padding: 2.5em 1.5em 0;
    font-size: 1.1rem;
    padding-top: 6rem;

    .title {
        font-size: 1em;
        font-weight: 300;
    }

    hr {
        border-width: 0px 0px 1px 0px;
        border-color: #ffffff;
        position: relative;
        top: -0.6rem;
        // left: -3rem;
        // width: 150%;
    }

    .logo {
        // position: absolute;
        // top: 10px;
        // left: 15px;
        // width: 50% !important;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;

        padding-bottom: 1rem;

        img {
            max-height: 2.8rem;
        }
        img.text {
            height: 2rem;
        }
    }

    display: flex;
    flex-direction: column;

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .launch-app {
            width: 70%;
        }
    }
}

/* Wrapper for item list */
.bm-item-list {
    // color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}
