// header {
// }

header.header {
    position: fixed !important;
    top: 0px;
    height: 7rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    // background: transparent linear-gradient(94deg, #FFFFFF30 0%, #FFFFFF8C 24%, #FFFFFF17 68%, #FFFFFF82 100%) 0% 0% no-repeat padding-box;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    background: url('../../images/header-background.svg')  no-repeat center 0;


    background-size: 100%;
    background-blend-mode: lighten;
    border-bottom: .6px white solid;
    z-index: 999;

    .logo {
        display: flex;
        align-items: center;

        gap: 1rem;

        img {
            max-height: 3.5rem;
        }
        img.text {
            height: 3.2rem;
        }
    }

    .nav {
        display: flex;
        gap: 2em;
        align-items: center;
        color: #000000;


        
        
        .title {
            font-size: 0.8rem;
            font-weight: 400;
        }


        
    }
}


header.header, .bm-menu {

    a:-webkit-any-link {
        color: #000000;;
        cursor: pointer;
        text-decoration: none;
    }

    div.launch-app {
        border-radius: 11px;
        background-color: rgba(255,255,255,0.7);
        color: #f556b7;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 8rem;
        div.title {
            margin: 1rem;
        }

    }
}


.launch-app {
    position: relative;
}

.launch-app::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent linear-gradient(104deg, #f556b8 0%, #14c5f0 100%) 0% 0% border-box;
    border: 1.6px solid transparent; /*2*/
    border-radius: 11px;
    -webkit-mask: /*4*/ linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
}

@media only screen and (max-width: 768px) {
    .header {
        height: 12% !important;
        width: 100%;
        background-size: 300% !important;
        background: url('../../images/header-background.svg')  no-repeat center center;
        img.icon {
            width: 3em;
            height: 3em;
            position: relative;
            // top: 36px;
            // right: 36px;
        }
        // height: 9rem !important;
        .container {
            flex-direction: column;

            .nav {
                opacity: 0;
            }
        }
    }
}



